ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.home{
	  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/home.jpg");
	  min-height: calc(100vh - 90px);
	  background-position: center;
	  background-position: center;
	  background-size: cover;
}
.message-form{
	background:rgba(255, 255, 255, 0.5);
}
.card{
	background:rgba(0, 0, 0, 0.2);
}
.card-img{
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height:180px;
}